
<h2> <?php echo $prize["prizename"] ?> のエントリー状況詳細 </h2>
<table border="1">
    <tr>
        <th><?php echo 'UserName'; ?></th>
        <th><?php echo '投票時間'?></th>
        <th><?php echo ''?></th>
    </tr>
    <?php foreach ($data as $k => $v) : ?>
    <tr>
        <td><?php echo $v['username']; ?></td>
        <td><?php echo $v['created']; ?></td>
        <td>
        <div class="edit form">
        <?php
        //echo $this->Form->create('Admin', Array('url' => '/Admin/details'));
        //echo $this->Form->hidden('prize_id', array('value' => $v['id']));
        //echo $this->Form->submit('確定',
        //        array('label' => '確定','div' => false,'class' => 'btn btn-xs', 'title' => 'Title'));
        //echo $this->Form->end();
        ?>
        </div>
        </td>
    </tr>
    <?php endforeach;  ?>
    <?php unset($v);?>
</table>

