<?php
//foreach ($data as $v){
//    echo $data;
//}  
//echo $data;

?>

<h2> エントリー一覧 </h2>
<table border="1">
    <tr>
        <th><?php echo 'Name'; ?></th>
        <th><?php echo 'Image'?></th>
        <th><?php echo 'エントリ数'?></th>
        <th><?php echo '詳細へ'?></th>
    </tr>
    <?php foreach ($data as $k => $v) : ?>
    <tr>
        <td><?php echo $v['prizename']; ?></td>
        <td><img src="http://wedding.biddingapp.com/<?php echo $v['prizeimageurl']; ?>"></td>
	<td><?php echo $v['エントリ数']; ?></td>
	<td>
        <div class="edit form">
        <?php
        echo $this->Form->create('Admin', Array('url' => '/Admin/details'));
        echo $this->Form->hidden('prize_id', array('value' => $v['id']));
        echo $this->Form->submit('詳細へ',
                array('label' => '詳細へ','div' => false,'class' => 'btn btn-xs', 'title' => 'Title'));
        echo $this->Form->end();
        ?>
        </div>
        </td>
    </tr>
    <?php endforeach;  ?>
    <?php unset($v);?>
</table>


