<h2> test </h2>
ようこそ　<?php echo $user ?> さん
<table border="1">
    <tr>
        <th><?php echo 'ID'; ?></th>
        <th><?php echo 'Name'; ?></th>
        <th><?php echo 'Image'?></th>
        <th><?php echo ''?></th>
    </tr>
    <?php foreach ($data as $k => $v) : ?>
    <tr>
        <td><?php echo $v['id']; ?></td>
        <td><?php echo $v['prizename']; ?></td>
        <td><img src="http://wedding.biddingapp.com/<?php echo $v['prizeimageurl']; ?>"></td>
        <td>
        <div class="edit form">
        <?php
        echo $this->Form->create('Entry', Array('url' => '/Entry/bid'));
        echo $this->Form->hidden('prize_id', array('value' => $v['id']));
        echo $this->Form->hidden('user_id', array('value' => $user_id));
        echo $this->Form->submit('入札',
                array('label' => '入札','div' => false,'class' => 'btn btn-xs', 'title' => 'Title'));
        echo $this->Form->end();
        ?>
        </div>
        </td>
    </tr>
    <?php endforeach;  ?>
    <?php unset($v);?>
</table>

